<nav class="uk-navbar-container uk-background-default" uk-navbarn uk-sticky="bottom: #offset">

    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">

            <li><a href="/"><span><img class="logo" id="nav-logo" src="/assets/icons/logo.png" alt="logo" /></span></a>
            </li>
        </ul>

    </div>

</nav>


<div class="uk-background-fixed uk-background-center-center uk-width-1-1" 
    style="background-image: url(assets/images/background.jpg);">

    <div class="uk-position-relative uk-width-1-1" uk-height-viewport="offset-top: true">

        <div>
            <div class="uk-card uk-card-default uk-card-large uk-card-body uk-width-1-2 uk-position-center">
                <h1 class="uk-heading-bullet">
                    Hi, I'm Ana <span id="last-names">Medrano Fernandez</span>
                </h1>
                <h3 class="uk-card-title">A full stack developer passionate about</h3>
                <p>people</p>
                <p>culture</p>
                <p>learning </p>
                <p>connecting the dots</p>

                <ul class="uk-dotnav" style="text-align: center;">
                    <li class="uk-active"><a href="/">Home</a></li>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/resume">Resume</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

