<script src="/assets/js/portfolio.js"></script>

<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            {{!-- <li><a href="/"><span><img class="logo" id="nav-logo" src="/assets/icons/logo.png" alt="logo" /></span></a>
            </li> --}}
            <li><h1 class="uk-heading">Portfolio</h1></li>
        </ul>

    </div>
    {{!-- <div> --}}
       
    {{!-- </div> --}}

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="" uk-icon="menu"></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                         <li><a href="/">Home</a></li>
                        <li><a href="/about">About Me</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/resume">Resume</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>
<div class="uk-background-fixed uk-background-center-center uk-width-1-1"
    style="background-image: url(assets/images/background.jpg);">
    

    <div class="uk-section uk-width-4-5 formatting" id="portfolio-append">

    </div>
</div>
</div>