<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            {{!-- <li><a href="/"><span><img class="logo" id="nav-logo" src="/assets/icons/logo.png" alt="logo" /></span></a>
            </li> --}}
            <li>
                <h1 class="uk-heading">Resume</h1>
            </li>
        </ul>

    </div>
    {{!-- <div> --}}

    {{!-- </div> --}}

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="" uk-icon="menu"></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Me</a></li>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/resume">Resume</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>
<div class="uk-background-fixed uk-background-center-center uk-width-1-1"
    style="background-image: url(assets/images/background.jpg);">

    <div class="uk-position-relative uk-width-1-1" uk-height-viewport="offset-top: true">
         <div class="uk-section uk-width-1-1 formatting" id="portfolio-append">




            {{!-- <h1 class="uk-heading-bullet">Resume</h1> --}}

            <div class="main-panel" id="resume">
                <!-- <h3>Resume</h3>
            <div id="resume-summary" class="resume-section">
                <h4 class="resume-heading">SUMMARY</h4>
                <p class="centered-text">HR professional experienced in working at hyper growth organizations interested
                    in applying strong analytics foundation and project management skills to partner with business
                    leaders in delivering world class strategic employee experience. </p>
            </div> -->

                <div id="resume-skills" class="resume-section">
                    <h4 class="resume-heading">SKILLS</h4>
                    <ul class="highlights-section">
                        <li class=highlights> Technical Languages: CSS, Javascript, HTML, Firebase Database</li>
                        <li class=highlights> Language: Native speaker in written and spoken Spanish and English</li>
                        <li class=highlights> Business Tools: Microsoft Suite, Google Suite, Platfora. Some experience
                            with
                            Workday, Greenhouse,
                            Tableau</li>
                        <li>Analysis Tools: Some experience with Python Pandas, Web Analytics, and SQL</li>
                        <li>HRIS: Workday (Report Writer Trained) and strong HCM knowledge; some experience as ADP Admin
                        </li>
                    </ul>
                </div>

                <div id="resume-experience" class="resume-section">
                    <h4 class="resume-heading">RELEVANT EXPERIENCE</h4>
                    <p class="company">GRAND ROUNDS INC</p>
                    <p class="timing">Jan 2018 – August 2019</p>
                    <p class="title">Senior People Analytics Manager (Apr ’19 - Present) | People Analytics Manager (Jan
                        ’18
                        - Mar ’19)</p>

                    <div class="work-div"> Talent Management: Enabled talent management by single handedly creating
                        google sheet tooling to collect performance reviews
                        <ul class="highlights-section">
                            <li class=highlights> Over 3 cycles, created over 200 performance sheets that seamlessly
                                allowed
                                managers to provide ratings
                                for their employees.</li>
                            <li class=highlights>
                                Drafted and launched internal content and communications that clarified intent of new
                                process and set clear expectations.</li>
                            <li class=highlights>
                                Utilized third party compensation data to generate focal statements that recommended pay
                                and
                                equity increases dynamically.</li>
                            <li class=highlights>
                                Generated about 600 compensation statements by bringing disparate sources of data into
                                one
                                single clean
                                source.</li>
                            <li class=highlights>
                                Analyzed and presented talent management findings to Executive Staff, highlighting key
                                wins
                                and
                                focus
                                areas.
                            </li>
                        </ul>
                    </div>


                    <div class="work-div"> Organizational Health Insights: Partnered with CHRO to develop and answer key
                        organizational questions
                        in quarterly reviews
                        <ul class="highlights-section">
                            <li class=highlights> Evolved analytics capability from a few reportable metrics to a
                                standard
                                set of quarterly metrics used
                                to inform org health.</li>
                            <li class=highlights>
                                Launched new hire survey and expanded scope of engagement survey to ensure actionable
                                insights.
                            </li>
                            <li class=highlights>
                                Scaled quarterly reporting to become monthly reporting in interim to Workday launch.
                            </li>
                        </ul>
                    </div>




                    <p class="company">APTTUS</p>
                    <p class="timing">June 2017 – Jan 2018</p>
                    <p class="title">Manager, HR Analytics & Systems</p>

                    <div class="work-div"> The Voice of Apttus Survey: Launched first-ever engagement survey to 1,200
                        employees through Glint
                        survey platform
                        <ul class="highlights-section">
                            <li class=highlights> Created benchmark criteria to select vendor and identified product
                                with
                                the highest long term value to
                                the company.</li>
                            <li class=highlights>
                                Identified key outcome variables to measure, gained stakeholder buy-in. Selected and
                                modified questions
                                with user in mind.</li>
                            <li class=highlights>
                                Analyzed 972 responses and 2,600 open text responses to produce C-Suite, Executive and
                                Manager level
                                summary reports for a total of 109 managers. Built framework to assist managers identify
                                areas to focus
                                their energy.</li>
                        </ul>
                    </div>

                    <div class="work-div"> Data Collection & Optimization: Identified data gaps, root cause of gap and
                        implemented processes to
                        improve data quality
                        <ul class="highlights-section">
                            <li class=highlights> India Compensation Data: Improved India data quality matches from less
                                than 30% to over 95% across India
                                Payroll and HRIS.</li>
                            <li class=highlights>
                                Exit Survey: Created Exit Questionnaire to better understand what is driving people’s
                                decision to leave
                                Apttus
                            </li>
                        </ul>
                    </div>

                    <div class="work-div"> Workday Implementation: Part of lean HR Team working to migrate from ADP to
                        Workday
                        <ul class="highlights-section">
                            <li class=highlights> Participated in design sessions and highlighted opportunities for
                                process
                                optimization and simplicity.</li>
                            <li class=highlights>
                                Organized the team to ensure timely development of key deliverables: data loads, User
                                Acceptance Testing
                                and E2E Testing.
                            </li>
                        </ul>
                    </div>




                    <p class="company">UBER TECHNOLOGIES</p>
                    <p class="timing">August 2014 – May 2017</p>
                    <p class="title">People Development Analytics Lead & HR Special Projects (1 year), Strategic
                        Insights
                        Analyst (2 years)</p>

                    <div class="work-div"> Performance Nudges: Scaled Tech HR Business Partners’ ability to coach
                        managers
                        through performance
                        management nudges.
                        <ul class="highlights-section">
                            <li class=highlights> Worked with Engineering team to automate survey creation enabling a
                                scalable way to email managers,
                                share content on next steps and collect data on how they would address the development
                                needs
                                of low
                                performers.</li>
                            <li class=highlights>
                                Nudges gave HRPs and leadership visibility into how first line managers were managing
                                performance issues
                                and allowed HRPs to focus their energy on the most complex performance issues.</li>
                        </ul>
                    </div>




                    <div class="work-div"> The Meridian Project: Developed key manager competencies and behaviors based
                        on
                        mixed research methods
                        <ul class="highlights-section">
                            <li class=highlights> Led survey design using themes from external management research.
                                Reviewed
                                deliverables with CHRO,
                                People Leadership Team and Harvard Business School Professor Frances Frei.</li>
                            <li class=highlights>
                                Launched a fully anonymous survey to ~14,000 employees to understand management
                                behaviors
                                that drive
                                perceptions that one has a great manager that allowed us to stack rank manager
                                qualities.
                            </li>
                        </ul>
                    </div>


                    <div class="work-div"> People Development Analytics: Partnered with Learning & Development
                        Leadership
                        and Program Managers to
                        develop program strategy, design, execution and evaluation.
                        <ul class="highlights-section">
                            <li class=highlights> Onboarding Program Revamp: Recommended changes to existing program
                                that
                                would reduce operational costs
                                while addressing dips in engagement, sense of belonging, and intent to stay.</li>
                            <li class=highlights>2017 Strategy: Validated hypotheses developed through initial needs
                                assessment based on biggest people
                                challenges HR Business Partners saw in their client groups. Identified levers to address
                                problem areas.
                            </li>
                        </ul>
                    </div>

                    <div class="work-div"> Additional Projects: Used data and storytelling to bring to light existing
                        employee challenges,
                        highlighted potential risks and issues to HR Directors and Business Leaders.
                        <ul class="highlights-section">
                            <li class=highlights> Executive Performance and Organizational Health: Identified CEO and
                                Execs’
                                strengths and weaknesses by
                                reading and summarizing 360 Performance Feedback, Culture Survey Responses, Manager
                                Survey
                                findings and
                                interviews with HR leadership.</li>
                            <li class=highlights>Diversity Report: Worked with head of Diversity & Inclusion to design
                                and
                                create Uber’s first diversity
                                report
                            </li>
                            <li class=highlights>Performance Analysis: Ran correlations to understand the impact of
                                performance calibrations on final
                                ratings of employees. Used Natural Language Processing tools to identify differentiating
                                traits of Top
                                Performers.
                            </li>
                            <li class=highlights> Attrition Analysis: Used cohorting technique to understand how
                                attrition
                                at Uber was trending over time.
                                Used Exit Surveys and demographic data to understand what was driving the attrition.
                            </li>
                        </ul>
                    </div>






                    <p class="company">ACCENTURE</p>
                    <p class="timing">July 2013 - August 2014</p>
                    <p class="title">Senior Business Analyst</p>

                    <div class="work-div">
                        <ul class="highlights-section">
                            <li class=highlights> Established meeting cadence; assisted in creating governance
                                framework;
                                and developed program reporting
                                tools that allowed Program Operations team to effectively manage the team despite
                                increasing
                                sevenfold
                                in size.</li>
                            <li class=highlights>
                                As sales operations consultant, developed pipeline management and reporting tools which
                                assessed the
                                state of the project and framed strategic conversations during weekly management and
                                executive meetings.</li>
                        </ul>
                    </div>

                </div>



                <div id="resume-education" class="resume-section">
                    <h4 class="resume-heading">EDUCATION</h4>
                    <div>
                        <p class="company">Berkeley, Extension School</p>
                        <p class="timing">2020</p>
                        <p class="title">Full Stack Developer Program
                        </p>
                    </div>
                    <div>
                        <p class="company">Wellesley College</p>
                        <p class="timing">August 2009 - May 2013</p>
                        <p class="title">Bachelor in Economics, cross registered at MIT Sloan School of Management (2
                            yrs)
                        </p>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>